


.mainchardownstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA3klEQVR4nO2Xyw1CIRBFr8YSKINeKIg1BdELZdCDrm40Y0Y+wTBEz+79JsxhmAfAr3PpfdE5dx8JXGvtin0dCfoNmqNk5imlocAxRgBtE3YNzGYuaZnYbuA/gLd50dY7ayGE8DFgzhnAc+4lshbOMbAKuwaYeSkFAOC9x+v1LDIOr2liu4Gb9kDLXDOj3W8ZtGeAmZBVNUDOWwVEmmDHI7JD8nt2UO2vaMcAWd0JtfVP7Bkg0oScSw2tP5BzDJDW/oDQjGbA7J5w+lwga4EZSmPnngskWi30ngE1tht4AH+leHZP/Y6NAAAAAElFTkSuQmCC');
}

.mainchardown, .mainchardownalt{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA50lEQVR4nO2XzQ2DMAyFH1VHYIzswkCcGYhdMkZ2oKcnqle5samq+MB3Qvmx7OfEMROczPN8eNcCQGtt8qx7RIz+g66XjHzbtpDhdV0B9JXIq8DVyJWeEsMVuB34yIt133kWlmX5anDfdwBn7hU9C/kVqLUCAEopIcPWvnQKPPnByC3POX6VN7sHcCqRRwHFipjK6Lw13lMujwLMCXNEfs19+lvgroSqBCse0Qpp1Y28CmgdINEKqFj20tSB24FwP0D0ve/Nk7y3QNGuOBqx7kvbFZuvoRI9A16GK+D+N1Q0p951ynAFXsC4gE5/53o8AAAAAElFTkSuQmCC');
}

.mainchardownstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA5klEQVR4nO2X0Q3CMAxED8QIGSO7dKB+d6DskjGyA3ydgEPGSSmqK7ifKkllxc+O4wC/rlPvjyml64jh1lqX7fOI0W/I3SU9X5ZlyPA8zwB8EnEJrPVc5ZHYncB/Ay9xsc47c2GaprcGSykA7rFXaS4ch8BWikuAntdaAQA5ZzyO10rtcEwSuxO4WAuW5xYZa94jGIcAY5JzfjoFW+WApTgEVKx8Glt+WfEoKyd0Xed3J2BWQmvHnypuJaT0LvBiq2Lu6G0YtiNye0KLgPaKvfe/Ki4BSnOCHum8ReT4BDxZHdRh3oY3+G94lmW1JYgAAAAASUVORK5CYII=');
}

.maincharupstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA2UlEQVR4nO2XwQ0DIQwEnSglUAa9UBBvCqIXyqCH5OVHFlm2yUVGSvaJ0J49t7buiH5dN+vFlNLTYzznNHnfPabfkFold95acxnXWolIJ3Eugd3OURqJcAL/Ah544J13q9gXsxBOYEmmRGB3D6DOJcCdjzGIiCjnfOmD0JdJhBNYpoB1FQn2kRROYMkACjvQiGj3j5uCJQP47rEDbR94MxNOwL0JpQ0n3ZMyce4e4Mo0EqWUt/Pe+1YB4QTMX8UsbQq0jJy/ByRZp8D6R8QKJ/Dxv6G3Y1Q4gRe4yGPg4ZDMDAAAAABJRU5ErkJggg==');
}

.maincharup{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA8klEQVR4nO2XwQ3DIAxFf6qOkDHYhSXYgnO2yBLZJUsgsUN78qE/QjYolanUfySWw3/YDllg1LquL2ssANRaF0vcoyfpN6TuUpxv29aVOOcMQCcxL4FR5yyNhDuB/waevNDb71ZJXq4FdwKXymwRGJ0DrHkJiPPzPAEAIYRbX8R5hYQ7gUsXiO4iIXlaciegdgE70Iho8dN1QbMGROxAmwe9NeNOwDwHxHlrwmlxvzcHWhKHMcaP9eM4hjbgTsD8NRRpXaDVyHRzwHwr1pyx9n0HAKSUAEx8KzZ3AZ89E+HnpRRTXncC5n9DFp+pNY7lTuANVzFvaDUmvQ4AAAAASUVORK5CYII=');
}
.maincharupalt{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA8klEQVR4nO2XwQ3DIAxFf6qOkDHYhSXYgnO2yBLZJUsgsUN78qE/QjYolanUfySWw3/YDllg1LquL2ssANRaF0vcoyfpN6TuUpxv29aVOOcMQCcxL4FR5yyNhDuB/waevNDb71ZJXq4FdwKXymwRGJ0DrHkJiPPzPAEAIYRbX8R5hYQ7gUsXiO4iIXlaciegdgE70Iho8dN1QbMGROxAmwe9NeNOwDwHxHlrwmlxvzcHWhKHMcaP9eM4hjbgTsD8NRRpXaDVyHRzwHwr1pyx9n0HAKSUAEx8KzZ3AZ89E+HnpRRTXncC5n9DFp+pNY7lTuANVzFvaDUmvQ4AAAAASUVORK5CYII=');
}
.maincharupstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA10lEQVR4nO2XwQ3DIAxF3aojMAa7MBBnBmIXxmCH9vQPdeTaRKls1P4jIo7/i+0A0a/rZt2YUnquBJ5zmmLfV4J+Q2qWcN5aWwpcayUinURcAmedc2kk3An8E3jwhdV+twpxeS24EzhUpkTg7BzgiksAzscYRESUc770RTwuSLgTOHQBdBUJxJHkTkDtAu5AI2LdH78GIO5AmweSY6mm3AmIcwBCxnAuTThI2xduEqo1wAWHpZS39d77x+fCnojMf0NI6wL+7fc9FUuyEtr/XmCVRGSbu+ELSgRj3Wp20TQAAAAASUVORK5CYII=');
}

.maincharleft{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA5ElEQVR4nO2Wyw2DMBBEhygluAx6oSCfKci9UAY9JKeJook2uyZCXqS8G8gg7/N+PCFIKeURXQsA+75PkXW3np+egbtLRr6ua9ePa60AfBN5DRyNXPFMDDdw1xea7cuyAABaa6dsYLiB17kw8m3bvn4QNcGzVzQX8hggmgNWFVgReuQ3QDQn5nnG+zPh+yjpDHz0gaN4Zq7TCS2s/uD1jetOQ6JTkbNB0TPn+vTTMHRvA+J3Qu2c6Q2Eq4ARqAmr/qM3qeEG/hvorgIryy3Sd8Kfp2Fv3SvDDYRzgHgdMRo5GW7gCbKCaVJEkO5bAAAAAElFTkSuQmCC');
}

.maincharleftstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA5UlEQVR4nOWWzQ3DIAyFX6uOwBjZhYE4MxC7MAY70EtfFblyDVGjGPW7REGA7Oc/gH/nNroxhNBnLm6tDd19n7n0DEwr6XnOeerilBIAWwm/Chz1XGIpcbkCD7kgsz3GCAAopZxiwOUKvONCz2utXw+MKsHYS2Qu+FGAyBzQqkDz0MK/AkTmxLZt2P8Tro/iToGPPnAUS5l1OqGG1h+svrHuNCRyKnI2SGTMuX+9aSih5Sml/vr+1AC/Csy+go92SH8KaG9Bxl5b19hVQwcczoLpV/FoFWjn1lGAaNVg9Xh5zm0nfALnBXPd+dugbwAAAABJRU5ErkJggg==');
}

.maincharright{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA4UlEQVR4nO2X0Q3DIAxEL1VHYAx2YSC+GYhdGIMd0i+n7TUWplFEifr+iBCyzz5DFhhxzq3WvQBQa10s+249h55BM0rJPKXUdXCMEUBbid9V4NvMmZYSwxU4LYAQAkII29o5t+45abgCH3XR/G7thdes9/DeA3j2xDwKtNAUEhcI7Ib5FSilvK2lxvKda84MV+DOHyRSVkLL9CjDFTDfhqyAlfl6QODbkGuuKZJzBnDl9wBPNo1p3oRqDzCSeWseWDMXhivwD8A8CTU0l1zHBXw7Hv1PYIYr0OVZoN0T082BBwL1Z2fURnMgAAAAAElFTkSuQmCC');
}

.maincharrightstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA4klEQVR4nOWW0Q3DIAxEr1VHYAx2YSC+GSi7ZAx2oF9O22ssQ9uIWL0/ELHwsy8G+Hddeg+GENpI4FprV+zrSNAjZN5SMi+lDAXOOQOwSZyXwKeZsywS0wkcdoGUElJK2zqE0PacNJ3AW100v/f2wnPWe4oxAnj0hB8CljRC4gIRu8E/gXVdX9ZSY9nnmrOmE7jxhtyUSWiZfqvpBLqnIRPolb8eEPE05JprRJZlAeDoPaASsGS5wP+b8Nf/AT8u4O7nacbiKSjnd/Yb4GkaaplZ0r47bQ90u8DytfaOOP2f8A67t3LmzjTU9AAAAABJRU5ErkJggg==');
}

.bikechardownstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA7klEQVR4nO2XwQ2EMBADzYkSKINeKCjvFEQvlEEP3MsCGZlcyEnsg3mhAMuuNzhJhwLDMGylZ65Y17W7uv9pCf4PbHasPOfc9IGUEgCvxOMKvAmc+uJmPefCNE2XAed5BrD3XtG5EF+BZVkAAOM4VgV274VToOcFK3eZc/wuh7gbsCsRRwHFVUxl9L4bLykXRwH2hD0irb0P/xf87ISqBB2PqEM634irgPoAqXVAxcUL4wNvAkUfcOhekeu/jof3gdNawAzvngd0JxT+XGBXQ+J67ShVrMRVgJWklJrOhiUeV6CqX0f0L6ntPXlcgS9fGnkYGkNuWwAAAABJRU5ErkJggg==');
}

.bikechardown, .bikechardownalt{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA80lEQVR4nO2X0Q2DMAxEj6ojMAa7MBDfDMQujMEO9OsEOnQxKZXij74vlARjnxPHdAjo+36P1pTYtq0rzb+eGP8F1jtGPs/zow9M0wTAK9Fcgb8Dl7y4Xc+9MI5j0eCyLACO3Cu6F/IrsK4rAGAYhirD7r10Crz5wMid5xz/lpPdHTiUyKOA4iKmMjrvxiPl8ijAnDBH5Gnu05+C25VQlWDFI1ohXd3Iq4DWAVJbARVnL00d+Dtw+xQo2iu6+19JdwoudwE9dF1xFKlbn7YrLv61AHGPSO72gEpzBWw/QDSC6JREESvNFajy9owqURs5aa7AB9eNe0wSo1AsAAAAAElFTkSuQmCC');
}

.bikechardownstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA6klEQVR4nO2X0Q2DMAxEj6ojMEZ2yUD5zkDZhTHYgX6dqA4ZN00lXIn3hRIw9tlxkgkO8zxv3jtnrOs6nc0/Roz/AtM7Rl5rHfpBKQWArcTlCtwOHPJiVT1rIed8arC1BmDPvaK1EF+BZVkAACmlLsPWd+EUePKBkVuec/xb3uxuwK5EHAUUK2Iqo/PWuKdcHAWYE+aIjOY+/Cr4uBOqEux4RDuk1TfiKqB9gPR2QMWyF6YP3A64q0DPhNznrXGPcKvgsBeoh6WUoXuBZZfEU0BRz72bUm9txFegF434f++GHloLXqQWlyvwAq5/dvVkVbnwAAAAAElFTkSuQmCC');
}

.bikecharupstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA3klEQVR4nO2X0Q3DIAxEnSojMAYb+psNGYMdkq+TKrfOBQXJrtT7DBbYz0eATYhKKQeLudIYY7safz2ZfIXc7FB5a+3RAqoqIj6JcAL/BD764rl+1gvovZX1wu8QWKW8BFB5711ERGqtSxey84JEOIHdG1hFAvN4CidAd4GtgBFh8el2wbQHWE+9eI9cXgI2Y5wFzAOIw1nA4vMRgEtXnYqWiFU+Ap5QASNwNw4KJ+D+CVnvZpX2Vkw94JGwPbbj7EUE5SOAzFX1+Pad3RnvVg6FE5jK9l2WxGzlUDiBE4AabSzALNr0AAAAAElFTkSuQmCC');
}

.bikecharup{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA30lEQVR4nO2X0Q3DIAxEnaojMAYb5psNGYMd2q+TqqsuJxQkU6n3i2PsZzvAEUallJezudIY47haf9xxvkIyOmTeWru1wXmeEaFJpBP4B/BVF9X1s72A2rO4F36HwCrtSwCZ994jIqLWunQj9gsS6QSeamEVCfhRSidgp4AzcESc/XZTMN0DrqbKXpHblwBHjLPA9QDscBY4+/0IoEtXnYrsl5VOQP4HuJaQI6Ds1d0wnYCcAogzUDcd9Z1TOgH7LlDiDB2ZbadA9oCK2JFxb0FWOoGpaD/FJGYzh9IJvAF/iWv0JtmU4AAAAABJRU5ErkJggg==');
}

.bikecharupstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA3ElEQVR4nO2Xyw0DIQxEvVFKoIzt0Gc6pAx62Jx8mawZEZDslTJHsMB+DL9DiEopF4sZqfd+jPpfK4PvkJudVV5rXZpAVUXEJxFO4J/A17p4rp/1gq09Cr3wHAK7lJeAVd5aExGR8zy3ToTjGolwAm+vYxcJG8dTOAG6C7ACRoTFp9sF0x5ga+rFe+TyEsCM7S5gHrA4uwtYfF4CWAm2zyrti8glYEISjID3DvAUToC+ileFBJ9zEmKmSAS98OtuyUsAZUSYNyxOVa+7dlQ4geHPdSQkwX7BnsIJfACiJmu7y5ynUgAAAABJRU5ErkJggg==');
}

.bikecharleft{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA5klEQVR4nO2XwQ3DIAxFnaojMAa7eCDObMgY7NCeXLUGyw6hsiv1HSEQ/CH/kwOMpJQe1mdn9N6PWfvtyqQ7mK7qHaq81nrpRaUUABiVcFfAvABEBET0W8C3EM8A7X1rDQAAcs4f/dYzQXvPobMQXwGClCC4ImcJo8Bd6qAVciWo8l2KxFVgFU2ZcE54WgFeodZO/F4aSk5IDijlguSYYdNwOQs0eFbwTAjjhP8sGHyA3wGlPNeQ7gt8PncFXmdgd+XSeN7vrsByGmrfuRV3BQYf0P6ErJVq48P4gNkJCSnXV8e7K/AEFb93l8QTKJ0AAAAASUVORK5CYII=');
}

.bikecharleftstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA6UlEQVR4nO2X0Q3DIAxEnaojMAa7eCC+2ZAx2KH9uqo1WIaEClfqfUIg+IHu4KBBhRAeo9/2VGs9eu23K5OuUHdV70LlOedLP0opEVFLYjuB4QUwMzHzvgV8S+oZwN6XUoiIKMb40T96JrD3UjgL/glAIAFJIrNyQ+CudWCFkgQqX0XEL4Gzssi4c8JpArJCqx36vTTUnBAOqOWC5phu0/B0FliSWSEzwY0T/rOg8QF5B9Ty3JJ2X5DzbSfwOgOrK9fGy/7tBKazwKpwltx2Ao0PWC8hWaHmeNZ4Nz4w7ISQTLPZV7O7NHwCa7p8CH5xDKIAAAAASUVORK5CYII=');
}

.bikecharright{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA8UlEQVR4nO2XzQ2DMAyFH1VHYAx2yUA5MxC7MEZ2oKdHkallkyA5rfqOAYP9+Q8GKBrHcdOueVRKGTz3PVpecodOXjLyeZ6bHpxzBmCTCCdwuwMpJaSU4hy4qj0/WtV7a4E5p9Z1BQBM0wRAr4X+CXjFiClGTnVL4FlrqEUsz7ufAzsBeiprwcptq8IJqPkhCUnAK6v/qXACpy6Q21DmXCOyLAuA90Q8TMIN+IY5YO0CRva7XfDfBZS2/+W+9+pQQx+7IZzAIPtei9S6bknak0Q4gervAVkrtWTCCZzmQGsXWPb9dYE80Cai92/3qn04gReb03v0laCakgAAAABJRU5ErkJggg==');
}

.bikecharrightstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA80lEQVR4nO1WwRGDMAwTvY6QMbJLBuLNQOySMdiBvkQ5U58N4c5pr3omGCzZlhmgIKW0anceLMsyeJ57tHzkDhyyJPNpmppePI4jAFuJcAVuT6CUglJKXAJnsdVH63pvL7DmRK0VAJBzBqD3Qv8KeEHGBJkT3SrwvBqoMZbn3fvApgAzlb1g1bYV4Qqo9aESUgEvrPknwhU4TIHchrLmmiLzPAN4O+LOCVfgG3zA2gVk9rtT8N8FhLb/5b73YtdDH6chXIFBzr3G1Lq3IOOpRLgC7v8Bi/lVhcIVOPiANQXyXjK24vubAnlw1hElIy2+Wyd8AbN2gGV529fiAAAAAElFTkSuQmCC');
}

.bluedownstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA9klEQVR4nOWX0Q2DMAxE3aojMEZ2YaB8ZyB2YQx2oF9XiSuHnapSXPX9EScIPyUHmP07t94F0zTtV/Vt27ruee99gG/zelqvM9Bau6zXWg/XnpF8BrwOe4ERZSKPAeCZQEdcV+NcZxPDDTxUgTvyOv+U4QbeTsG6rmZmVko5XcBGMB+odXxf7IXhBuQeANwhmOc5NF8ZAXkNqPOMjlSnPO4l63AD7tsw2qk3DtIlYTgHuLNlWQ7XfCqwnnMjrwEQ/TKKohIQ5DPA8N4AXubzvLRfRO67AHinwst8xe8Y4ExXCVdK2c/GFcMNhP/jVD70/gsyww08AX//hNkKgptEAAAAAElFTkSuQmCC');
}

.bluedown, .bluedownalt{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABAUlEQVR4nNWW0Q2DMAxETdURMga7MFC+GSi7ZAx2aL8OiaOHE9Qq7vsjCZHvsI0n6ySl9Lra37Zt6rnv0RvAt9mj9ZSBdV0v93POh2fPkXgOeAp7gSPKiTgOAM8JKOJ9tc777MRwB55qgxV5yu8y3IFTFdRazcxsnuePL7AjOA/Ue3wvcmG4AzIHACsEy7I0nVeOgLgOqHqGIqWU173OOtwB2QlBq1JvHYTrhK4DgJWVUg7PXBUq++M6wJ0QeHXsoe4L0wmbA6i1yq5451x3AL/idhVwbrTmTrgqOP0LECHPhtzp1HfGOZ4b/mcqBq3TMeidhkFcB4CqClbUeo4Z7sAb9k+eehJm4QYAAAAASUVORK5CYII=');
}

.bluedownstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA8UlEQVR4nOVXwQ3DIAx0q47AGOySgXgzELswBju0r4sUq84BqmRLvQ+KDSR3xsQW+Xc8VheklN53/jHG0p7P1Q/4NejXasa11tv5pZSpF0OpuAqAOWO8CigUVwHGHAy037Jrv84SdwVeuws1Y4zazrLCXYEzHoh9711ERHLOXxfAD2AeY6z3DZMF9Axoxsx/HMfl2VISiKuAlc9gZJ0FbWc3qbsC5k0IzDJldo34WYDYaWYYW2uX+Yy5db+4K2CeAXYj7iLc35BWRLOn2prHqmR3BbbrgVllGNwVWO4LEFPWL1g1oEZ8BRisXnG2R3RX4AMjLIbi7f9gfAAAAABJRU5ErkJggg==');
}

.blueupstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA3UlEQVR4nOWWzQ3CMAyFDeoIGSO7ZKCcM1B2yRjZAU6vCFepbQTYgnds3dTv849C9O+6WD9IKd3O3s85TWderQm8W2K23HFr7TS+1qr6MUjFJQDnkmOrQCgugW85h9wJbJ/+gTQV7gT2eqD2YwwiIso5E9GjF+BE2xvcOT83zBSIPWB1blVcArz2WhK89lK8O4HDFHCheyF08UpSfLhNKO4BLu6QSyIUlwAk9YK2BxC36om4mxCZSSR670/PSykvJeBOwHwr/rkpUN+IsNOtDiW5E1Bnu5oKq2MudwJ3xAJxArnqfN0AAAAASUVORK5CYII=');
}

.blueup{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA7klEQVR4nO1XwRHDIAxzeh2BMdglA/FmIHZhDHZIX0pb5Qy41xZyF/0IPoOEbMIiRjjnttp8KWWx5LtZN/BtNHfLjGOM1fgQQtfCUGpeBcC8xdgKKDSvAv9iDgxX4P7rBVpVMVyB/Txw9jlnERHx3ovI0wtg0usNZs55p6mCpgeszK2YVwE++94er+XRMFyBQxUw2L0Ya+A4jIHpOqF6FzA0Rta46RTYq0DrhAzMp5Tevq/rWl3oJe8mcqZOCLC7NcYtjzCGK3BVwcED2CH/G1o7Id8l2otpuAIfvwv4dmzFnU8BQKsKZtQbxxiuwANG6op4viXNKAAAAABJRU5ErkJggg==');
}

.blueupstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA4UlEQVR4nOWX0Q3DIAxE3aojMAa7MBDfDMQujMEO7ddV4iJjkKJA2vdHMMh3MQ4R+Xceswucc+/efK11as/nbAJn883WUgZSSt35GGMzthzZzwFL4SxwRHNiHwfA1U4sd0BNIMZ4qOhLE7iKwykopYiIiPe+CRytCbiGeIx5X9TCcgdeZ2/Iyi32dYCV8LvVYOVW/HIH1E4IUL2ATwczGr/NKTAdYFghoynetg+onRAgY61DMlbcdl/D6U4IhTnn5nkIobvufjcijdlTcJ9b8SiWQ/wN+T0HGM2R0X/E5Q58ALerc1sVesyQAAAAAElFTkSuQmCC');
}

.blueleft{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA5ElEQVR4nO2X0Q3DIAxEL1VHYAx2YSC+GYhdGIMd2i9XihvHdloJqHp/iCjiHvjAG5wKITzO5nvvm+d/N+8Cvq3XajVnpFLK6XzOeTfWiMxHQHPoFRGRSMxDgKSRIEdeUhKJ4QTu0gR3etW5puEExBq15gLJmg/rnAFSaw0AEGPcjblqrQDek5A0bQ6oBKwi55wQkZM0nIBaBdKeayLn69yGkvjdkFI6/I7vNa+eaavA/H6zJqNUBdMSMOcAOeAkJMfW6hlO4L8A8xmQ3opS1i+ThB/fhpyI1gdwDSfg6mSBH+yOn3rEa1IgJLwyAAAAAElFTkSuQmCC');
}

.blueleftstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA5klEQVR4nOWWwQ3DIAxF3aojMAa7MFDOGYhdGIMd0tOvGrc/xlGlGPXdECGKH/EHkX/n5l2QUtqO5nvvrnfevR/wa15fa1UG1nU9nF+WZTe2jMQzYFXoBUaYiTgGgGUCFXlNMROXG3iwCV3p2cotLjdAe3Q0F8BoPszzD4DWmoiI5Jx3Y02tVUQ+kxCEzQHTwCioXBuCOcblBswuYHtugcrnOQ0Z+mwopXx9Tu+17p6wXTB8f/Mm4zQGaA6crRhY/Q/iGWA3InYfYNkP3u4Tm0jA09BMQm/FgK2bxwBg3WBlvF4XNgeeSq11rZiaZ6oAAAAASUVORK5CYII=');
}

.blueright{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA3klEQVR4nO2Xyw0DIQxEvVFKoAx6oSDOFEQvlEEPyWkOGcVrHG0ERHm3/TNvMZ9DnIQQHmfXe++H5303bwOuxmwtJy6lnN6fcx76MEytawDJrcReYGhdA58mRzLtOU4Ophu4X/UiJGcTVlXsa8BKxte1EXK6AXMcYPBvU0pvn4sxiohIa+3leFkDZh9AEoBEmgEv0w0Mz4ZsYpTl+4BZBdybgWak1ioi+tjP7GMAsAmN0bXhdAPDcwGPcHwebLcq/jfAvS9geA04Wv9gugGzCpDkW/uE6QZcNSvyg7vjJ8eJZ63UakmMAAAAAElFTkSuQmCC');
}

.bluerightstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA6UlEQVR4nOWWwQ3DIAxFf6uOwBjskoE4MxC7MAY7pCcf8lvHJoqEq/5bREz4L7Yx8O96zAaklPaz9THG1J7P2QPcLfO07LjWevp+KcX1YSEVl4A4txzPSgjFJXDVuTjT4ti5aDmB110biXMmYVXF7xKwnPG61iGXEzD7AEv+7bZtX+NyzgCA3vvhOSwBMwfEiUgcaQRmtZyA+zZkEl6FzwGzCjibRRqR1hoAvfezlhO43AmZCMs7Gy4n4O6EWj/wKmwVfOQAT0TWrccTkDYZlVJ2IOBE5J4JvfO+Fhc2B9xVYNW1Nj+E74Rvv7F0GZzocWcAAAAASUVORK5CYII=');
}

.oakdownstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA8klEQVR4nO2XwRGDMAwELxlKoAx6oSDeFEQvlEEP5HUkOeYi65GxmWRfjA0atLKFAX6dW+mNfd/vmcDbthXFvmeCfoPTW7pM13VNBR6GAUBsoj0DhCaYOTMibtzNOxPtGyC6BpiZWxtq5joGosyzRCaqG+h4Ea36ZVkAAOM4fgzo7nuJuwNPE9UNHPVQAw6amef5bXyaJmSeb8ZA5yaimus4DWTjVDfw7wOnXUC0H6gJ1pZojXW3cL65XWD7gGbuvvuluPNBOwZI1BGjTkjc+aG5XWA7oaJrwHW+LNUNFJ8JS2GN9fnrnAkdkZHSf0GluoEHmj6OiZzoXAEAAAAASUVORK5CYII=');
}

.oakdown, .oakdownalt{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA9UlEQVR4nO2XwQ2DMAxFPxUjMAa7MFDODMQujMEO9PRpa/TrGKlykPpOlUms+sVJoEMlwzDstWMBYNu2rmbcI5L0F5z+pap0XddQ4nEcAfgm2jNAaIKVsyKi4uq5MtG+AWJ7gJWp3rBm7mPAqzyKZyLdQM8fXtcvywIAmKbpa0I17i3vDrxMpBs41sMaUNDMPM8f8VIKIvObMdCrB96a2zgNRPOkG/ifA6ddQOx5YE1wbYldYztPmcg3oPa/V4GHZ5DxdAPyHLDUmojumnwD7EbeUrWou0DR7i6wAe9WvNoD6u24PQMk+i3ocd+3YoWt6Oq8dANPqdSZ4scDRSwAAAAASUVORK5CYII=');
}

.oakdownstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA70lEQVR4nO2XyxHDIAxElYxLoAz3QkGcKYheKIMenNPmo8lG0iEDnmRPNh/ZesJrEPl1XbwDU0pHJPAYwxX7Ggn6DZlvicx776HA+76/bddk1iWgM2cZsX7dztbE+gQgtgaQoe7XRM5DwJu5VxaJ6QQ2XFirvrUmIiI5548B2binuIfIg8R0Avd6eB0PZGqtL+2lFInMX4bAxjqsmut2EIjGmU7g7wPUB1A75vXoh3SN9Tzc4znLfAXUB9j/3ysdh+0P1iEAMUfURKJOyHZG0wlQJ7TEnI99NUzTCbj3hKhd9ISk52utS8CSReI0Z8Mb82eUVgoX7CYAAAAASUVORK5CYII=');
}

.oakupstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA5klEQVR4nO2X0Q3DIAxE3aojMAa7MBDfDMQujMEO7Zej5ogLRomw1NwnIif8Yp+A6N/1GN3onHtrjGutQ95PjekV6p6SKy+lqIy994frSMYugdnKUUxC6onlBO4DvHBBO++jYl9zU7ARwK6X5nhWX747EnYIoJDEbBL2vrNLIOdMRHoSuI99QgiH+5cTaPIZcwAr5opijLv1lBIRtZXiNJnLge00vRw46z7AspsDUuXSv0dxL/SmhxNxOQH1FGj1gwARGSDQ9AB359n3AikPlhPo3oolYfJJU9J7IdklwLrqTchaTuAD4uh7HH8xU0MAAAAASUVORK5CYII=');
}

.oakup{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA70lEQVR4nO2XwQ3DIAxFnaojMAa7MBBnBmIXxmCH9uSo+YlloKnsQ/8ROZb9Yv+QjQYVQniNxhIR9d63kbjHTNJfSK2SO2+tTSWOMV6eIxm/BFY7RzEJaSbMCfwLeOLB7L6PivO624KdAE69tMer+sh7IOGHAApJrDqh9pxfArVWIpongXGcJ6V0GW9O4OTP6APYMXeUcz6cl1KI6NwpbpM7H9ir0RzwrvsAy48PaA6I04zvHsWzoOVjR7QnMBrI0y3t86rMCYhb8O1dECX5gTmBfQa4Is0PZp0Q5dcJUXffDd3+F6hfQ0nY0epz5gTehl2A9GfoRTgAAAAASUVORK5CYII=');
}

.oakupstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA5UlEQVR4nO2XzQ3DIAyF3YoRGINdGIgzA7ELY7BDe3LVvBTZjhLhqn1HZCz7i38C0a/rpjWMMT4sjscYKt93i9MrtItylmnv3eQ4pUREMgl/BFhMwpo5SiKxnMA/gIAH1n7Xiv1iLfghgFXP1XuW3vxuSPghgEISRyehdM8vgdYaEdlJoB37yTl/tF9OQNyGmDFnVErZnNdaiWifKXaTuznwikaagEe7AO/jdlxOIMz2/qya8dujuBYw49lkXU9Aa8jVPetnrdx1QeCIeEtdJbf/hOLrBecDTjxtd3wvAdTZb8TlBJ5I7HiDRLW75wAAAABJRU5ErkJggg==');
}

.oakleft{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA3UlEQVR4nN2X0Q0DIQxDfVVHYAx2YSC+GYhdGIMdrl+W2lRRAlIF1J8HQvjFAe6CUyGE2zOv93551wSAx8jkX+hrt5rT1pprwRgjAD+JfQjQudepJS+JfQhQkgSdaLKIWSSWE3hqA9y51+FsdpYTUBOqdUWtFQCQUvr4bmXlvAxQdJxzBmDXWo5bZPYnwFqTgKZSytQGlhMY7gKvzr0LpEiCNZb9T8m0n/cesOR9E8pbdPsMmOeApdGTT+o8AuwG62R8y8INbHwbTneB9mbUMvF/BEZ1LoFR58f9Hb8A4qhs8ZNumtYAAAAASUVORK5CYII=');
}

.oakleftstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA3UlEQVR4nOWWwQ3DIAxFf6uOwBjswkCcGYhdGIMd0tOXUkeWTdQKUN8xWAg/GxPg33l4A0MIhyeu9+7eEwCeI8G/4HJaLdPWmmvDGCMAv4l1DDBzb6YWXhPrGCDSBDPRsIxZJqYbeGkLPLk3w7u9M92A2qHarai1AgBSSh/frV7ZrwcIM845A7BrLdctM+sbYK1pQKOUcusA0w0M3wIv+74FEppgjeX9J1q372+AeP8JiXxN952EXrQJeDJxAFcT6xmwai0nnjUhLaYbMCfht1muB9yTUKLd69H46QbelopoKRw6C2cAAAAASUVORK5CYII=');
}

.oakright{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA30lEQVR4nN2WwQ3DIAxFnaojMAa7MBBnBmIXxmCH9vQVyYprO0mF23dMjMR/JMYbOUkpvSx1c87NUvfwbuBuTLsk2pOPMUz1OefD59xMfAPe5BowAxNxDViTS2cNsJ4nB8sNPM8uRKKrhuIbkBLw5L13IiIqpRzWS50xvgGeVDKC5HjfWjNtIL4BjjUZjNRaP9YtN/D1u0DqgCC+AcAnIckI+gHOXpuM4hvg34DW28H/zITa2VtnP4nlBsRO6D17dEit83HiGuBIJrx/B2e5AXUqPsvP/AXmuwB4zYS/C94Tmma0RN+OmgAAAABJRU5ErkJggg==');
}

.oakrightstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA3klEQVR4nOWXwRHDIAwElUxKoAx6cUG8KYheKIMC+Dmv+8hWkJxkEON72pKHW+EzJrq7HtaGEMKuqWutqZ79tC7g11ITgPNaq6o+xnh6nZPxT8DqfCSQAQm/BLTOpVlD6OfOoekEXlcb4ehbQv4JSA6481IKERFt23ZaLyWjfwLcqUQEznE/56xagH8CXFpnIJJS+lg3ncDfvwVSAkLrEOCSiCAPMPvRycgvAT77UaZzLXMmPOSA5FybiFb5I2AVT0bsfuntcXciOuxU7Z+PVesloXaGV+uJiHrv+3QCbxtTaJhfEEGMAAAAAElFTkSuQmCC');
}

.momdown{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA+0lEQVR4nNWXwRWDMAxDTV9HYAx2YaCcMxC7MAY7tCdxEBjFLe856Ngkfda3CGawoMZx/Fytb9s2RP7vFS3gbslqlWMlRaRfAv86Z3kk0gncVkCt1WqteQX8qkNfor2H63mezcxsmqbL/ZyF5xBgp56WZTEzs1LK6Xp3BN5qQ6tziPd5JKB0Ans/uPfrup4eQMp53fud1yFkIZ2AmwHlqFXqXkgn4GaAxSTwvEOc/tYbsX8CcK4cRc91Q2B/ClARSHjpV+98vvmYxPPeBdH7gOcCdS6dgJyKueet8wCETHQ7FbsZQMWllFMSSso5lE6g+Us2Oi23fiWnE/gCz4R45dDFdQ0AAAAASUVORK5CYII=');
}

.momup{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAxUlEQVR4nO2X2w3DIAxFb6qOwBjswkB8MxC7MAY7tF+3UtwSQ9XUROL85SFinxgwGwZxzj2Ontdat5HxbqMB/Bo1Wi1jDc3IvAa0zEspu2vv/eGHWiaua+BbpAlzA3d546zMW5gbWAGsAF5z8t/Vz/XA3MAKYAXwthuePRvm3w0JOx52OiklAEAIAQCQc969L+/HGD+OIzE3oHZEzFzCjIk0Qmhi2p6wWQMtemugF3MD3SejVi200P49md8AGV0he0/J5gaezhdGeV1Jv9AAAAAASUVORK5CYII=');
}

.momleft{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA5klEQVR4nN2WzQ3DIAyFH1VHYAx2yUCcGYhdGIMd0pNV9SEKTlCx+m5xpMT+/OuglPf+/Pa+1uo033toHVitobejiEcaEbFL4GrkpZSP5xACgD6J/yMwEpPYTuDJBo48pQQAOI4DwDunq7SdQFMDTICrOucMAIgxXvqhuRqYJiC57/W5VkJiO4HGgVqr0260pQ78Ws0c6GlV7lnbCUzfA6smov050NOq7WiOwHQXsHhCsl1k/iJSE+AI2S7bUrpFuifGeAIGa+B2F0iEI8n9YI7A7RqQnLP4YjLbBeq9PzsRZ2+K7QReoJFqTJz9frQAAAAASUVORK5CYII=');
}

.momright{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA2klEQVR4nOWXwQ3DIAxFnaojMAa7MBBnBmIXxmCH9PQr4coxJFQx7TtFICX4xXacjQZxzu1H+7XWbeR+j9EDzEY9rRaxhmbErgFEXkpp1r33px4kmbBn4Oo7l/gfA8iZnDMREcUYm31u4ncMpJSIiCiE0KzzqjFn4ImLs5FLfYKvS9gx8G3s94FZ9c9BTpg18M4BnPCqCd4B15sHZn0Ne2dDewZA70SEfa3nS9xu4KMTInJ83QCyW4pYWte43YBYBdyABJ94wDI5oFYBkIxIE9D6Bji9HXK5v+MX7sFp3wt5PPsAAAAASUVORK5CYII=');
}



.girldownstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA9ElEQVR4nOWX0Q3DIAxE3aojZIzswkB8MxC7ZIzs0H7dR6+92ESVTNT7iRIM4h42BLN/1220w7Isz6P2fd+HxryPTuDXcmfLjltrh/G11rd3j8i8BOCcHbNDlopXJNIJPKKBnnOO83IFSifwsS689ux8tAp4HM6FdALhHICTUoqZmfXev75v22ZmZuu6hsZNJyBzAIKjs2IS0+WAJKCcwxG3q+/cPh0BWQWeo6i8apiHgDr9mASeqHtI5YTaUaF5CChFd7bRMwOalwAcYa9nEt6fEvqp+ofSCbhnAaSyHPKy/ToEIO8GFNV17wXQWRLRO2I6gRcwJX2xRLNvXwAAAABJRU5ErkJggg==');
}

.girldown, .girldownalt{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA8UlEQVR4nNWXwRHDIAwE5UxKoAx6oSDeFEQvlEEPyeseuUSWyDiDch8PBmu4RQJzyKJSSo+z/jnnsRLvtjqBq2XOlh231k7H11pf2haRuATgnB2zQ5Y2XiOxncDdO9ByzuOsXIG2E3hbF157dr5aBRyHc2E7AXcOwEkpRUREeu8f22MMERHJObvibieg5gAER9+KSYTLAZWA5hyOuF97z/3hCKhVYDnyyqqGuARQ90wCT9Q9pOWEtqNCcQmwrLX0npas7QTcOyETsP6UtO/C7QPmTqg5t859iOP8D4FfKT4B6GoSYe8F7pvsKhHvLXk7gSdwYILXIN2v0wAAAABJRU5ErkJggg==');
}

.girldownstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA80lEQVR4nOWX3Q3DIBCD3aojZAx2YSCeM1B2yRjskD6dqrhxDlAlTqrfCAThD/MH/LsevT8sy3Lc1ddau/p89g7g13JHy47Xdb1tX0o5lT0icQmYc3bMDlmqvSIxncCrtaHnnNt5WTFNJ/A1Lzz37Lx3FXA/nIXpBJozsO87AGDbNgBAzvmybGrNzHQCMgMmcz6qlNKpHC4DkoBybo64Xn3n+nAE5CrwHLWKM8CKS8B2MCbB+4FJZeLidDyATxbiEjAxCSXe+RQp1nQC7o3InDABdfPxssCnYnwCLHVPUM5Z4XbC7nfBqMLeipvfcaMkwr+M3sLvhRRQ+rnHAAAAAElFTkSuQmCC');
}

.girlupstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAo0lEQVR4nO2XwQ2AIAxFv8YRGIMNObMhY7CDnmpiDZQmKBj7bkYkv68EAfg7i/YD59xee59zVs25agP0RkzLK44xVseHEC7PkpF5DVDlUsUSZKRkYrgBC3DrS6/ec0prYbgBC2ABLIAFOHelt3dAYriB7amJ+cmoxHAD3f+GVHlKCQDgvQcw8RoQz4REyQjvdWvlxHcMaGm9Ic1rgNCa+Nzd8AAF/z2nyBHQxgAAAABJRU5ErkJggg==');
}

.girlup{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAnElEQVR4nO2XwQ2AIAxFi3EExmBDzmzIGOygpx7ElNqkSTH576YY8vswoU1kJOd8rdbHGMmy32EN4I2adq64tbb8vtb6eNaM7GuAK9cq1mAjkolwAwjwOhevs5+R/oVwAwiAAAiAAAiAAOJtyHh1RMx2t+EpLfTeiYiolPJ4b+2KpX2YcANqV+zFtl2xeTKy8t/JaMZq4uuUHG7gBjQUNTuiEUloAAAAAElFTkSuQmCC');
}

.girlupstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAApElEQVR4nO2XwQ2AIAxFv8YRGIMNe2ZDxmAHPfVgCVYMCMa+mxHM74NIAf7OUjvBObdfvU8pVX1zrQ3QGjWtrDiEcDmeiE7PmpF5DXDlWsUabKRkYrgBC5CtS6u1l5T2wnADFsACWAAL0P00lMg/4nADagAiyrqcVwP0ZtMGxBgBAN57AM/3xLSn4e2uWJpgSkbudsfzG2C0G5HG9w0wtSamvxkd8ZI93r1cdJAAAAAASUVORK5CYII=');
}

.girlleft{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA5UlEQVR4nOWXwQ3DIAxFSdURGMO7MBBnBmIXxmCH9NJ/wKpj0yYC0neJEFFkP7ADm+vEe78fzddat57vPXoDOBs1Wp5xSunw/RhjM9aMzGtAW2vNBIARycR8BpA5z5CvLfjVxHADT+2FEEIzlkx8y3ADahWUUj7OE1EztvaH6faAOQAiarIupYh2LgngKtQq0IAF2LH2BbCOAWm9c87Ouf7MwbwGUK9E1PwbpM54PwMAJmKM+/t5agDzGwAwwU9K/9MHtDMi6K2K4Qa67wUSfC9w1jkVS1hNcNa9GUlYTVhvycMNvACr6WWGZisJUgAAAABJRU5ErkJggg==');
}

.girlleftstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA40lEQVR4nOWXwQ3DIAxFadURGMO7ZCDODMQuHoMd0tNXBapjkzTCTf4NAZH9HNs4hLvrMXohxrhu7ddah775HDXg11Kt7T3OOW+eTyk1a42IXwJarDUSEIhIJPwRgOe9h31soaMkphN4aQeWZWnWEom9mk5AzQJm/rpPRM3aWh/c/QNmA4io8ZqZRTqnGHCW1CzQBAqgY60L0P8QkOJdSjHdB5mU0hrCJxv8EoCFRNT0BqkyjsYe8ksAAgnE7nK9wJwFING/lO5TB6Tu2HfF0ayYTmB4Ljgqd+8B8xy3l4T7yegN5eVmuMhCT1oAAAAASUVORK5CYII=');
}

.girlright{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA1ElEQVR4nN2Xyw3EIAxEndWWQBn0QkGcKYheKIMesqc5ZLRgUJCCM7ckDso8f+QcMinn3Nl7Xms9Zs77zH7Aaqlfy45TSt34GOPlWiOyLwE41xxD7JzVIrEfgVXO+X3EMYnHCXxXHwjnIQQREck5d+PtEuDcl1K6cdt2we0aYOfe+7/3W7JHADkddajpcQK3JyH6vSXUxPu6ALXABDD5tP6H7BKAkGPW6G5ojwDPASZgbiseJqDtfBDmiJkaULdiViv3LW0/B6b/jEZlvwZYoyTMzYEfkMtg+2FME70AAAAASUVORK5CYII=');
}

.girlrightstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA2ElEQVR4nOWXzQ3DIAyFnSojMIZ3YSDODMQujMEO6cmR+lR+3CCB1XdLYhDvAxuH6N91aAc4567W91KKas6XdgGz1V0tOo4xNuNDCB/PPSL7EhDnPccidI6qkdiPwCznOF7ikMRyAufsCcW5956IiFJKzXi7BHDvc87NuG2z4PEZQOfM/PV9TfYIyJ6OOuxpHwLaCij5Lfku0pJZTuDOzV/vAHQsZHr5L1pO4HEdkLxHjfaG9gjg3iMBc13xMAG8/Wo1n5kvIkNnoNoTztL2dUD9ZzQqM2fgDXgnYt8kphwRAAAAAElFTkSuQmCC');
}

.womandownstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA4ElEQVR4nO1XwQ3DMAikVUbwGN6QtwfyLh7DO7QvIuUiBFSpcNXcJwohiDsQNkT/jofXsZTyigSec7piPyNBvwEzS2HeWgsFZmYispVYV4FPmSMsJdIVCCfAzDsrj/3yBK7GqS5a7YXdGIOIiGqth+9o1/7HXkhXYLMckLkA39GuKYFIV2CvB9ZeYy7MonbBcj1wJ7BZMx9rK8/e+8FPqz32FCJfATRoEw+7WftP4D1F0xU4zQEBKqCdAZo/Ytn7gHkj0mY+wpqEyypwJ+DeC6K9IPjdvQDh3Q29O6EgXYE3EaZ9RKYQlFAAAAAASUVORK5CYII=');
}

.womandown, .womandownalt{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA7klEQVR4nO1XwQ3DIAy8VBmBMbIhbwZiF8Zgh/blSDlk2a5SQaveJ4oxyHe2Q7zBiZTS0+sLAL33zeP3iBz6CZhRCvNSSujgnDMAW4l1FXiXOcNSYroC4QByzicrj/32AO7GkBct98KutQYAOI7jss52bT/XwnQFdsuBmQv4ne2aEozpCqg1IGCmwixqFyxXA/8A1C6Q6uXcyrPWevHXci/naF/J6QqYXWAx0KDtW64Lzmi0/uca4L5mePeJEtMVGLpA+8Z71619rMR0BcJ3QRTL3wVDDUiE0UnIwrJ/xe7JKFoLkvvvnYwYPzsdvwDQ5InWFJPVpwAAAABJRU5ErkJggg==');
}

.womandownstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA4UlEQVR4nO2XzQ3DIAyF3aojMEY29JmB2IUx2CE9uVJe9GRTUUHTfpcoxrHsZ8KPyK9zizqmlPaewK21UOx7T9BP4GZpleecuwKrqoj4SqyrwLuVI54S0xXoTkBVX1VF7MMTGM2pL6z3Vl2tVUREtm07jKOdfY9zYboCD88BKzfwHe1MCWS6AnQOGFipVdZrNyVwLkxX4J8A/QusZ9hbe5ZSDv6s9yyuqu4iKytgoBIMtg9468J0BdzzAML2AjbO/JdZB1wFoisew/yvcyK6XALhe4ExqvfG+gog0Tvi19wNn+b4fSas7JfcAAAAAElFTkSuQmCC');
}

.womanupstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAq0lEQVR4nO2XwQ3GIAhGadMRHMMNPbuhY7hDe+JCS4CmBP78vpMHJXxPjRHg39m0E0spp6XwnFNVe7cU9UDsEpP33k2FW2sAIJvIa+BtcopkItzAauC2L1/tPYU7C+EGVgOrgQMHXqdfIo8BL9K/BW4GMLlEuAH2LaBobweXPP8ZwORjjMeJtVZVQbpeWpfHgARnBtEaooQbYG+BlJiDmvj9f4EV7Z8QCTdwAfwgPeyQlSDPAAAAAElFTkSuQmCC');
}

.womanup{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAuElEQVR4nO2XQQ6EMAhFv2aO0GP0hl33hj1G7zCuMJGGQCdOqIa/JJV8Hlhlg1Eppa/1LAD03jfLuX0m6T+kuqTKa61TiUspAHQS6xL4tXIujYQ7gTAw9OWu3nNJs+BOIAyEgTAQBsSbkHTX15C03E14uuGVt9YAADnnywMaEV6xlIdIuBP48AA5luK8Eus5Ke5OQH0LJCJWSb0nuRMYZoAczm5Cmpb9KzZvRrOzQL1/7mbE9drt+AA0LlF9nWs2AAAAAABJRU5ErkJggg==');
}

.womanupstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAvElEQVR4nO2XQQ6FIAxEq/EIHIMbzpobcgzuoKsaPz8NhahtIm9nAnU6lGqJvs7SWhBC2HsCllKaMa+sPYufQFTLmaeUugICICK9E/4cGM28RuuEuQNTwHk+d519TasWzB2YAqaA7ekX8K0CsBP93wY/DrAyVnp3P5Awd0AUAODsYiYC3kL8H6jR1oTkmttvgdgHcs4/zzFGVcB632W/8z6gRcpwFHMHmnMBM5o5147bW6Ce43pnRMb9XHAAxj1H6IpCiUYAAAAASUVORK5CYII=');
}

.womanleft{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA1ElEQVR4nO2XwQ3DIAxFnSojMIZ3YSDObMgY7NBe+g+x5BgCFUbquwWiyH4QGw7qJITwvpuvtR4933v1BjAbM1qZcc759v2U0uXZMuLXADK3MraAEc2EPwMyc2TwKxPLDZzaBCIupRARETMT0bgJiT8DWCP5/0sTYNSIPwMayBwm5PhTE8sN/ANo3gNy7Wfh1wDqATNfekOMkb7jUwJYbqD5/GadBYFWD/brhhqyJ4xWxv0M9LLfmVCC3a9VQqseuL8XDO+Bp2bAcgPTKyFovSUvN/AB2zpadedPyPcAAAAASUVORK5CYII=');
}

.womanleftstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA3ElEQVR4nOWXwQ3DIAxFf6uOwBjswkCcGYhdGIMd0pOl1JFj01DhKu8WkiD8wI4D3J2H9cEQwnZ2v/dunmvP85uXZiKumkdcSjmdKOf8cW014s8ARa5FrEFGNBN+DPDIKYJfm1hu4MUHaMWtNQBAjBHAdRMSyw2IWUAGCDJBjBqRzoJ/AxS5ZOSqieUGDllgZVaW+DfA956otU5ZwHIDaj9Ae5tSAnCsBxxr3+AmC9SuResFR/FfCSVGKyThviNS64D0ddTYmdqAf+qIrPCzwMetLDcw7d9Qwn0WvAFArW5Sj9gJWQAAAABJRU5ErkJggg==');
}

.womanright{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzklEQVR4nO2XwQ0DIQwEfVFKoAw69JuC6IUy6OHy2kdWApsICThlfqdDCA+wwCWDhBDu3v9a6zXS32t0ALMxR8sVp5S67VX169sysq8BVG5VbAEjLRP7GZhdOfppmVhu4D27Q1RaShERkRhjt/35Bnjfo3Jm213wswGea4A5b5lglhv4D2B6DnjnHpxvgFd9zllE7FMQnGeAkw9w5nvvhucY8Cafdfox+xnA3KnqlJuRxXIDw+8CppV8WAvPyYHRjPey3ID7JWutBeaYJPwA+/tajZel+rUAAAAASUVORK5CYII=');
}

.womanrightstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA3klEQVR4nOWWyw3DIBBEJ1FKoAx6cUGcKYheKIMenNNY8SprPnHkRX43bIyYhxcA7s5j9EPn3Hr0vpTSNPZzdAJn0WxAJo4xHvYPIezamhH7Bpi8lrgGjUgTdg2cnZzjSBOXG3j9a2AmzTkDALz3X/vZMzC69rLumVxirgo2A78ml4m55poJYsdAL1ryXuY1QFJKAIBlWXbPW81cbmCrydYqkPUuYXKa0U5BYscAqd31eqndDe0ZkEgjtR2P7Wluxeo+wOS181zy0X8FJvgHmndCzcT0Z0F3FbQyTRW8AVunbMsnLPWLAAAAAElFTkSuQmCC');
}

.dudedownstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA7UlEQVR4nOWX0RGDIBBEz4wlWIa9WBDfFmQvlEEP5mszcTPnQuIM52S/FAa4fRwnmv27htYB0zTtZ/2llKY5H60BXC0ZrXKspIjEJaCcr+t6eE8pnS7kkbgPATheluV0wm3bzOyTyH0IsPOc808LzPN8eGcS3QmMeFBZz06YjOrndUCiO4HXfiAyRI5sVlmvxPOAVHwCSnAG1ZKKTwCqrXxKXBnD1YHB2/vac+3JGx8uB0Zu4MiRC9yuhHH8VXwjsZtFIuA5//YUwLnKne4E5H2AxXdBTx6BcKegmUCt4JDni1cJvY6r/wE9dSfwBK6Vf/VwzeiJAAAAAElFTkSuQmCC');
}

.dudedown{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA9klEQVR4nNWXyw2EMAxEhxUlUEZ6oaCcKYheKCM9sKdBy6y8JhAp3ncMyscvdkgGVDJN0/7reyllqBnvVbuA1rir9SL28IzENeBFviwLAGCe51P7uq4AgJzzqd0y8T8GrIg9UkoAAhsYtUEj37atyUQcV03EMeBlPfeSqBnvu85DE90NHPvBlXHlrOfarFd0HK2KuAY8GBm5aiquAUITd08+Rf8N4c4BMweu1rWF1T9cDoxe9jMXNCIP9tN7wYeJHYhgQBsY6dMq0H4cV013N/BVBYQGWmHdEeMYINa9oNaIRkzinoTk6UvII74BUvsKvvtq7m7gDSFFh+XwCZ38AAAAAElFTkSuQmCC');
}

.dudedownstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA7ElEQVR4nOWXyw3DIBBESeQSKINeXBBnCqIXyqCH5DSRPBEM2JEWK3MCIfbzWFbg3L/rMbvBe//qrddap2w+ZwP4tWS0KmMlRWRdAirzlNJhHmPsOmqRuA8BZLzve9dgztk5903kPgQ481LKJQchhMOcSZgT2DBQVc+ZMBm1zn5AwpzA5zwQGSJHNauqV2I7ILU+ASVkBo2SWpcABBKjnU9JdcZ1CHANjN7rlkb7hjmBTVU/aoEzUsI+nD32sx97Aq0FrgV+ASnx7WESkDkB2QlnCcy+DdchAPG7ABFf/R+wPWg9Amd19s9oTuAN7R5/6Ey1Y+EAAAAASUVORK5CYII=');
}

.dudeupstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVR4nO2XzQ3DIAyF3SojMAa7MBBnNvQY7JCekBpHr8YNkS217+of7M+BANGv62ENSCntn+y9d1POp7WA1VKr1TrWpBGJS+Bq51KIhDuBfwGnuayevZT8FuIQuLtzqUHCncCpAGYmZl6+EMrrTmBDhlFtzvnSAhpNdwLqOSA70Iho/vHPATR7684Y8YhImHNgQ5231g6O2uylP9LbOjtRBALIUEoxJZL+tdapOHcC8G84O1NNiESYXfD1jWiW0CAQ9lZ8+7sg/MvoBXcOW8xng3kyAAAAAElFTkSuQmCC');
}

.dudeup{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAz0lEQVR4nO2XwREDIQhF10xKsAx7sSDPFmQvlGEPyYkLu1+GXTNwyD8qIjwUx3QYlXP+rObnnMni72UNYLfUaLWMNWlE4hJ4mrkUIuFO4B/AqS67ay8lz0IcAr/OXIpJuBM4BUBEBxFt3wj5dSfwRhMcbSnl0QYaTXcCah+QGWhENPv4fQDV3noz0HoeD9MHEsq89365oLW2dKitk/u4E4B9gFVrNTmU9mOMpb07AfgaolrelTw7cW6BHNhNAmXOik9gt+ITYFl/wXd/ze4Evk5LZc2nMi/RAAAAAElFTkSuQmCC');
}

.dudeupstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA1klEQVR4nO2XwRGEIAxF2R1LoIz0YkGcKYheUgY9uCcOfifGrDjJzO4/yRAh/wFRUvp1vawv5Jy3s/7eu2nMtzWB2VKz1Rxr0ojEJXDXOUoi4U7gn8BhXWavPQr3QhwCTztHDRLuBA4JMHNi5ukTSeO6E1ikjpEtEd2aQKPpTkCtA+hAI6LFx68DkgPryUDnuKfC1IFFco5qre3apZTT+Frrro0kiWhLKQKBq4HrupoGxniJmDsB9WuIa/mtkECcUzAesEJZ/w+0UyHN407g8ZvRUNh7wQc7o152+5T1cAAAAABJRU5ErkJggg==');
}

.dudeleft{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA2klEQVR4nO2XwQ3DIAxFTdURGINdGIgzA7ELY7BDe7LUujL4R6i4Ut8xCYn9wOAEAokxPpDnxxhhdv+GBrCbaXSvcOa997frrTUiIiqlTMdrJvwb0DKXpJRMH5Qmjhu4owNkpiszEjbKJo4bUNeAde4ZazUwv2Og1kpERDln6MWrqnBjYFkFaOYoxw38A9h2Flw9FY8bUKtA7gPW007DbT/wYQDdAXnO5RphY+57wuVOyKtbomWO4t8AClotxw2Y+wHJ1f8AiX8DKNbMmeMG1ADGGAHNZmsA3+IJlwtgQFDDcsoAAAAASUVORK5CYII=');
}

.dudeleftstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA3ElEQVR4nO2X0Q0DIQhAadMRHINdHIhvB3IXx3CH9osmR8Mhxgab3vu8nKc8RTiAf+fmHZBSenre772fznH3LmA1wwY48tba4XmtFQAAiOh0vGZifwNa5BJEHJpQmgg38PAOkJFaZiRslE2EG1DPwOjeM6PZwPyOgVIKAADknF0ftrJiGwNmFngj9xJu4FrAslowWxXDDahZIO+B0WqnsW0/8GFg9gbkvZdnxTIXb0DrckermgUbQcRDH8CEGzAXQETLbEwt4Nu898P7x+Nl23vA7Ig0ZETe95lwAy9UHF65DEGKeAAAAABJRU5ErkJggg==');
}

.duderight{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA6klEQVR4nO2XwQ2DMAxFP1VHYAzvwkA5Z6DswhjsQE+/oqGpbSSKI/FPKPHBeXb8wwBF4ziuWsxWy7IMnviHJ/gMNbPVTp5zBgBM0/SxLiIA7CTiEbDWfJ7nn/tWEpcTePLD2+0UT0ppZGrFIWAVu59qnZjrIrIC7V7oh4C3tqUUU9zlBN510W6BlwClzYPLCdwJuL2g5YK1uvGCw+8BTSSVUgIQ+BY0JyEzJol6DrDGtTdQdY+klL56QlwCmjZuB2BPohsvMCcgIrvXz18TOEtqD9S3wUsh/Bxw/ccBxydkWAKH54BV4d3wBd1eYLuaRJKWAAAAAElFTkSuQmCC');
}

.duderightstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA4klEQVR4nO2Wyw3DIBAFX6KUQBnbCwVxpiB6oQx6cE4vSlYhC1Ys1krmZNkIwezPwK9zsRaEELaZDVtr5p7PXGcWH0H3tNbNc84AgBjjy3sRATBuwp+B0ZjXWj9+HzWx3MCND7PZTnhTYpnR+DEwCrOf9G7M9yKyAf1cOI+B2diWUobWLTfwiItVBbMGiNUPlhv4H2B6FvSmoOY0s2D3/4AFTaWUADiuArMT6vpnbPVM0OgcSSm9nQn+DDD2ezsf4SxgDuj9iT8D30LfvMdyA4f1AQtWw3IDu3NA17NlzG0nvANJ/Fo6gqd0CQAAAABJRU5ErkJggg==');
}

.eggheaddownstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA2ElEQVR4nOWX0Q3DIAxEadURGINdMiu7MAY7pF/Xpqc6FyuRMO19hViA/WIbktK/6+adkHNe9+y9d9ead68DV0t6qyJWUkTiElCRt9Y+xqWU3Y0sEvMQ4IiVmMg8BM5GzlIkhhN44AGRI2L2nMeqCti+WXdN6U0iDgEWk/BGbM1jxSVQa71kA6yzLMtX+3ACr5q0er9VFUdzYp4+ALHnVjZzjnhPR2g4AXkWnBUTDZcD7vuA+rYqF8IRMDshPAUJ1dt/704IHa0KJsbvLcUnAFkkvP+CrOEEnhM/fidikVV1AAAAAElFTkSuQmCC');
}

.eggheaddown{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA40lEQVR4nO2X0Q2EIBBE8XIlUAa9UBDfFEQvlEEP3tfEc451RU2A5OZHAV12XliUxTTKWrsejZdSlpZ4r9YEnpaareZYk0ZkXAKa85zzru2cO5xIIjEPAXasiYnMQ+Cuc5ZGojuBN27gHI45c25rVcDjX3FXYzYS4xBgMYlWx9J7rHEJpJQemQBxvPfV8e4ETu8DV6tgnn1AkrSaeY20fh2hcQjwTgjBCRyHEKqB0B9j3PVX4k2yE7JQx7hqVSGRYnUn8P8f+FkDyPDueUCKy+pO4PK5oFXzEYAkEuzo7HOs7gQ+HXWFevKUtvcAAAAASUVORK5CYII=');
}

.eggheaddownstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA1ElEQVR4nOWX0Q3DIAxEadURGINdmJVdGIMd0i+rzbXOYRrJjnpfQQ7ge8EBUvp33awdcs7bUXyMYRrzbk3gbNFsmWMmRiQuAea8975rl1IOJ9JIXIcAOmZCItch8KtzFCPhTuAhD+JcHGPm2GZVgPG3cbeUXiTiEEAhCatjrR8qLoHW2ikTyDi11q9xdwLT/4HVKtD2iPhVINJWM66RVSLuBNQ1wL7hqsLtBebdkBHRyIU9D3xUgWRqPROKZp2L3AmY7wWzhPB9TfEJMGkkZu+I7gSen9l9o2509xEAAAAASUVORK5CYII=');
}

.eggheadupstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAsUlEQVR4nO2XQRKAIAhFqekIHsP7n4RjeIda0eI7hhSNZr5lkX0+wijR31msH4QQ9qv3KSXTmqtVgDeqWi1jDc2Rfh14mjlScqK5A1NAVhfv2iO4F/pxQDJnZiIiijG6/gjXFSeaOzAFVAtg5rOOHnFmAW+RdQFSyga7pDbu+3NAq682P/p1QND2gpYhxqFj3U3CDR+IMmtX3KW5A+ZT8fhdgFhPSOPdjISSE9aMkeYOHCOQWqBNDtslAAAAAElFTkSuQmCC');
}

.eggheadup{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAyElEQVR4nO1XwQ2AIBCrxhEYg10YiDcDsQtjsIO+LjGneIAk3IO+jJ5HW6CBDY0wxpxf33POW0u/vZXAaIhsJcUSJEf0OvBXOUfJiekOLAKPeRk99xx8LehxgJSnlAAA1tqhA/G+5MR0BxaBRUDMgd5dUfpPbw4QSklIimpRckydAwc9SEkYYwQAeO8/G4YQXt/f+p6AoiQ8pAI+9865qsZUJ+2e6Q5U50Av1OfAYw0QQ+lkxJVJTqk9Fa97QffdkCuqreOY7sAFf7pc7qdVrLYAAAAASUVORK5CYII=');
}

.eggheadupstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAs0lEQVR4nO2X2w2AMAhF0ThCx+j+kzBGd9AvjMEgEGmKj/NrWy8XQQrwdSbvhlLKevW8teY6c/YKiEZVq0WsoTmS14G7kXMkJ4Y78As45SU69xz+LeRxgCJHRAAAqLWGvoifS04Md+AXYBaAiHseI9a5BfRC7QNSNLxKrOuINFXg7oRafqWI0/YBsRMSpNjaIbV16f4Fi3eDp8aPpJ2IulfBc6diCe/E9D4HOJIj1jvicAc2w5NZZURS8TsAAAAASUVORK5CYII=');
}

.eggheadleft{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAz0lEQVR4nO2WzQ3DMAhGv1QdgTG8i2f1LozhHZITh9Igg+wIV+q7RUIRvPCTA06I6PTGAkDv/fDEvSIvfYJhltHKNSMT+xqYrVxjmUg38B4FMPPHcyllaQLpBsIJMPOXFQ9EdN71VboB9xRYVUd7Qk9DugH3FKzufmF/AxprL4z2xbabcHoKLMTA9tfQ7AHJXEy01gAAtdbbeO8316QbcGUJ+P8P9N743R6w0BXO/i+kG/gnEO4BwbqS0euZbmD5HtBsvwfcBoSRCe8NENINXFZJVcH/+O1IAAAAAElFTkSuQmCC');
}

.eggheadleftstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAz0lEQVR4nOWWwQ3DMAhFadURGMO7eFbvwhjewT0hpTQIaJJC1X+LRBA8w7cB/l03byAirkjiOacr9z2S9AqZVUY7l7JI1CVwtHMpjUQ6gYcVQEQv3621UwtIJxAugIjeqHiEiGtvrtIJuLdA6zo6E3Ib0gm4t+Ds6WfVJyCl+YLlF2Wd8PAWaGIC5W9DdQa4ciYxxgAAgN77brw88832rG0+qXQCl70JpX+UJaDOgNbxpz6gqR4Bb+dRcd5yt+HXXsWs3yHA0khYHi//K+sDT2ErYK68pIrOAAAAAElFTkSuQmCC');
}

.eggheadright{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAx0lEQVR4nO2XUQ6DMAiGcdkRegwu37v0GL2DPpFsOOTHaWiXfW8mtYGvgHUhkFLKiq4lIuq9L8i6R2TTO3CjjGau8UyMa+DbzDWWiXQDz6s3bK29PTPz4frxDJw9e505yngGoliZe2cvpBvY9eZV/S9mxMQ8c0Ai1Sas/o72vSbdAPw1jPa5NjFPDWgkcmY+rAmh1vrxfYt0A+EaQKv8d++E3jzwJp8m3cA/APg+YHXB2ZuQkG7gtj+jaboAivIVzwiauZBuYAN4mVgTfNQVBgAAAABJRU5ErkJggg==');
}

.eggheadrightstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAvUlEQVR4nOWW3Q2AIAyE1TgCY7A8uzAGO+hTHzxT2/ITSrw3EtJwH73Ctv1du3ZjCOGyFC6lqGoflqIjJJ7S6hwlkfBLoNU5iiMxncDZu2DO+bGOMX7u90eg9u7RuVb+CFjFOZfunjSdwCubvfJPZIjEOnOATookuHxbc4+aTkD9GlpzjiTW6QESOkdHHJGU0mPt/j9QPQmlbl//T9h7DqyTgta3gEsN1UUS0wkMew1RbntAnQIp1xw595PwBq89Ww1Z3fdlAAAAAElFTkSuQmCC');
}

.regdudedownstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA8ElEQVR4nOWX3Q3DIAyE3aojMAa7MBDPDMQujMEO6dNV4lTHOKoEUe/NBCLuw+ZH5N/18A4IIRxn33vvrn8+vRP4tczZsuNSymn/nPMQW0T2JQDnlmNLIKKR2I/ArHM4myWkkVhO4OUdACetNRERiTGKyPVc2Z8A17W3n0VmOYFPRiL7eW0RXxX/BzGqYTkBNQe0tdPIaO33ywHWrFOrHdpuJzSrAGJntdYhTikNMY+H9iUAWXc+r7T6h/YjwOLcgDgH+JSENOfQcgLT9wGrKmZPTdZ9CMAx1l7b4WKMx7d2TcsJTL/jtP3B+xZkLSfwBoQof10/Cs0tAAAAAElFTkSuQmCC');
}

.regdudedown{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA+klEQVR4nNWXwQ3DIAxFnaojMIZ3yUCcGYhdGIMd2tOPhFXHGFXC+TcTgvjPNiQHOZVS+tw9770fnvVe3g38W+ZupeNSyu38nPMQW0TiEoBzy7ElENFIxCMw6xzOZglpJLYTeHtfgJPWGhERMTMRrddKfAKyr73zLDLbCVwVieqXuUW8KrkOYnTDdgJqDWi508ho48+pAUjefrNOrXEo3EloEoCks1rrEJ/nOcTSORSXgDwHIM3JrLT14p8DUhaZVXJxCCAnzPyzC1D1qHbtjpDd8bxzALL+gLwK+1VsdgFyjdxaX0i4/VArVjdsJ+D+N4RkTmfnSW0n8AW32YfyqWh8WwAAAABJRU5ErkJggg==');
}

.regdudedownstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA6UlEQVR4nOWX0Q3DIAxE3aojMEZ2yUB8MxC7MEZ2aL8uEic5xigSjnp/TgBxjyMBkX/Xy9shpfS9en8ch2vMt3cCd8ucLTsupVy2zzl3tUUkLgE4txxbAhGNRDwCXudwOJoNJrGcwGe2Ixy11kREZNs2EfFnJj4B3tfe9haR5QTORCL9vKaoZ8XjoMZuWE5AzYC2dhoZ7flzMgDx32/UqfWcFSYDJgGIndVau3rf965m52F3gUqAZ3yXwv0NzRORlmre31oGwp8Jp88DVupHtZyA+16ANdXuCyDzmAy474Ys7cs5ekdcTuAHGOR4OiawoBwAAAAASUVORK5CYII=');
}

.regdudeupstep1{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA20lEQVR4nO2X0Q3DIAxE3aojMAa7MBDfDMQujMEO6ddVwpVjHCFhKXlfCQnk7uSYhOjuvKwTQgjH2fXeu2nNt1XAalS13HEp5fT+nPNwriXiNwE41xxrIBEpCX8JrHLOkZLYnsAj4BHwwYHW41eB5+Bt8JMAaK0REVGMcRi39gW+J0jr+kuAK5SUa8zO257Ary+jOiXlGJ9Fcu5uLxB3Q3C1Bvh8gHX89gEoQxJQvKoGONsTUL8JOeiIKaVhfNax/7cA8L5QayWi/x4PrH9EwG8CQKqFq4452xP4Aky8Xn+Y/S3dAAAAAElFTkSuQmCC');
}

.regdudeup{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA2ElEQVR4nO2Wyw3EIAxEndWWQBn0koI4UxC9UAY97J7mkImMYYWEV8o75UMcexwPOWSSEMKnd7+1dszEe80msBozW64459xdn1K6nFuK+FUAlVsVW0ARTQl/CqyqnNGU2K7Ak8CTwBsHlsevAu/BNPhRANRaRUQkxni5PusLvCdocbcroDoh0DK30J5z54SmAgAVjaIp5lcBVP5rzy04rl8fYGZ7z1hKbldgeArghOd5dgOWUkTk7oTA7xQwq3dHt3/Fw1Ng9Rbwt/J/U8Bo3wL3dHQds12BL49hZHqHB8DpAAAAAElFTkSuQmCC');
}

.regdudeupstep2{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA00lEQVR4nO2X2w3DIAxFb6uOwBjswkB8MxC7MAY7tF+3Uhw5DipSjJrzlRfEPolxAvw7j9EBIYT30fne+9Ccz9EAZmNGKzMupRxen3Pe7FtG/Bpg5lbGFjSimfBnYFbmEs3E5QbuAO4AXtyw1vhZ8D6sBj8GSGsNABBj3BwfXRdkT9Dm9WdAokU+Ok4bf7kBtRdImNFZZMbSiJsq+Bpg5jLT0WdPtHfHXTc0q4D8+g6s90VkIY3UWgHsV0CyjoGzaKbYM1JKAPZ1L1nXgEQz4v7P6AOSuFzAw2uglwAAAABJRU5ErkJggg==');
}

.regdudeleft{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA20lEQVR4nO2XwQ3DIAxFnSojMAa7ZCDODMQujMEO7ekf+JLj0KTCSH23QBThZ4PDJoOEEN5n8621beR7r9EFPI25Wo4453z6fkqpe7aM+DWAyK2ILWBEM+HPAEeOCH5lYrqBXZvAimutIiISYxSR+yYYfwaQI97/bIL51ow/AxqIHCa0eQ2358BlAxaogeM4unHLzHQDZi/Qcm6ByNfthoB7A+cYcK6v/hn5NwCsf0HAJ+b6NcBoPQKM1sJ0A/8FPL4LGPc1MNwNUfWllG589EYEphu4fQ4wy92OP3KwYN6pw9zcAAAAAElFTkSuQmCC');
}

.regdudeleftstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA5UlEQVR4nOWWyw2DMBBEJ1FKoAx6oSDOFOReXAY9kNMoYaRh43zEWnk3MEbet157gX/n0jphGIbtaHxd16Z/XlsX8G3C1WrEy7Icfj/P8+45MpLXACOPIo6gEWcinwGNnBH8ysTpBm5ugCuutQIAxnEE8LkJJZ8B5kjrX00o75rJZ8DByGnCjTvSngMvG4jgHpimafc+MnO6gfAucDmPYOT93oZE7wbNMXG57t8AiXpBR78GXMRaFe6E1D3Rz0mo9V9KAfDoD6I7QXnqrDYgYUfU3BVr3+9wBvsxQFw1RPWt89JWwR2lvHYUS3i//wAAAABJRU5ErkJggg==');
}

.regduderight{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA0UlEQVR4nO2XwQ0DIQwEfVFKoAx6oSDeFEQvlEEPyWsfsWQWJKTDp+zvdAh5B9uYSxYVQviM/vfer5X9XqsB7BaNVjsupQzX55x/vhmRcwnAOXPMBCIWifMI7HaOfSwStxN4794QTltrIiISYxyu90tA1zsE51p+qgBiPd9yijPXOXAsAZoD2mmtdWsAtxOYvg2tM2c6PgempxddFRYR5Ai7BaHzCegcYL0dmp0N/RCA9NlrIu6m4n8Ayzkwq+dUAcReSCklEeG9X8sPAehxr+MvteZj7QzJyUsAAAAASUVORK5CYII=');
}

.regduderightstep{
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA3klEQVR4nOWWyw0DIQxEnSglUAa9UBBnCqIXyqCHzWkOO5ExSEhrlLnt8hHzsI1F/l2v1QUhhGs03ntf2vO9eoDdMk/Ljkspw/k559u3RcQvATi3HFsCEY2EPwK7nWMfjcTjBD67N4TT1pqIiMQYh/PPJcD5DsE565wsgKyarznFnXMMuCVgxgA7rbVuPcDjBKZfQ+3OLbmPgeV+ANKIIEasVxA6l4Cl2d7QLwF2znfOFY//s9xmwU8l5I5Ie/VY7BzrU0oYv0RO7IiszkZzzuNuY2A6C6y81uqF+0r4BbhDcM72BeMxAAAAAElFTkSuQmCC');
}
